In [50]:
import pandas as pd
import numpy as np

In [4]:
df_new_merchant_trans = pd.read_csv('./data/new_merchant_transactions.csv')

In [5]:
df_new_merchant_trans.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_415bb3a509,107,N,1,B,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1.0,9,19
1,Y,C_ID_415bb3a509,140,N,1,B,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1.0,9,19
2,Y,C_ID_415bb3a509,330,N,1,B,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1.0,9,14
3,Y,C_ID_415bb3a509,-1,Y,1,B,661,M_ID_9e84cda3b1,1,-0.671925,2018-03-07 09:43:21,NaN,-1,8
4,Y,C_ID_ef55cf8d4b,-1,Y,1,B,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,NaN,-1,29

In [7]:
category_2_stats = df_new_merchant_trans['category_2'].value_counts()

In [13]:
category_2_stats

1.0    1058242
3.0     289525
5.0     259266
4.0     178590
2.0      65663
Name: category_2, dtype: int64

In [14]:
category_2_ratio = category_2_stats / category_2_stats.sum()

In [60]:
category_2_keys = category_2_ratio.keys()

In [72]:
category_2_keys

Float64Index([1.0, 3.0, 5.0, 4.0, 2.0], dtype='float64')

In [61]:
category_2_values = category_2_ratio.values

In [73]:
category_2_values

array([0.57162535, 0.15639129, 0.14004643, 0.09646808, 0.03546886])

In [105]:
def missing_value(value):
    
    if pd.isnull(value):
        choice = np.random.choice(category_2_keys, size=1, p=category_2_values)
        return choice[0]
    
    else:
        return value

In [111]:
df_new_merchant_trans['category_2'].isnull().sum()

111745

In [107]:
df_new_merchant_trans['pre_category_2'] = df_new_merchant_trans['category_2'].apply(missing_value)

In [110]:
df_new_merchant_trans['pre_category_2'].isnull().sum()

0